@import "tailwindcss";

:root {
  --surface-1: #006ef5;
  --surface-2: #ffffff;
  --border-strong: #94a8c2;
  --text-primary: #1e293b;
}

.cloud {
  anchor-name: --myanchor;
}

.bubblechat {
  position: absolute;
  position-anchor: --myanchor;
  position-area: top;
}

.dbg1 {
  @apply border-4 border-solid border-red-500;
}
.dbg2 {
  @apply border-4 border-solid border-black;
}
.dbg3 {
  @apply border-4 border-solid border-yellow-500;
}
.dbg4 {
  @apply border-4 border-solid border-green-500;
}
.dbg5 {
  @apply border-4 border-solid border-blue-500;
}
.dbg6 {
  @apply border-4 border-solid border-purple-500;
}

.svgparent {
  position: absolute;
  bottom: 0;
}

.svgparent:hover #plus1 {
  transition: all 500ms ease-in;
  opacity: 1;
  stroke: white;
  transform: translateY(-70px);
}

.svgparent:hover #plus2 {
  stroke: white;
  transition: all 500ms ease-in 200ms;
  transform: translateY(-70px);
}

.book {
  width: 100px;
  height: 100px
}

.mirror {
  width: 100%;
  height: 100%;
  display: block;
}
